.task_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;

  .task_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin: 12px 0;
    align-items: center;

    .card {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 14px;
      background-color: white;
      border-bottom: 1px solid black;
      // border-radius: 10px;

      .img_container {
        display: flex;
        width: 160px;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 20px;
          height: auto;
          margin: 4px;
          cursor: pointer;
        }
      }
    }

    .taskCompleted{
      background-color: #E0E0E0;
     
      

      .completedText {
        text-decoration: line-through;
      }
    
    }

    .taskCheck {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 160px;

      input {
        margin: 0 4px 0 0;
      }
    }

    span {
      display: flex;

      align-items: center;
      justify-content: flex-start;
      width: 160px;
      .task_action {
        margin-left: 34px;
      }
    }
  }

  
}
