.task_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;

  .task_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .card {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 14px;
      background-color: white;
      border-bottom: 1px solid black;
      @media screen and (max-width: 500px) {
        padding: 14px 2px 14px 8px;
      }
      .img_container {
        display: flex;
        width: 160px;
        align-items: center;
        justify-content: flex-start;

        @media screen and (max-width: 500px) {
          width: 100px;
        }

        .iconEdit {
          width: 20px;
          color: rgb(14, 117, 14);
          height: auto;
          margin: 4px;
          cursor: pointer;
          font-weight: 100;
          &:hover {
            transform: scale(1.2);
          }

          @media screen and (max-width: 730px) {
            width: 14px;
            margin: 6px;
          }
        }

        .iconDelete {
          width: 20px;
          color: red;
          height: auto;
          margin: 4px;
          cursor: pointer;
          font-weight: 100;

          &:hover {
            transform: scale(1.2);
          }

          @media screen and (max-width: 730px) {
            width: 14px;
          }
        }

        .editCustom {
          opacity: 0;
          visibility: visible;
          pointer-events: none;
          position: relative;
          z-index: 1;
          cursor: none;
        }
      }
    }

    .taskCompleted {
      background-color: #e0e0e0;

      .completedText {
        text-decoration: line-through;
      }
    }

    .taskCheck {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 160px;
      cursor: pointer;
      @media screen and (max-width: 500px) {
        width: 190px;
      }
      p {
        font-weight: 500;
        @media screen and (max-width: 500px) {
          font-size: 14px;
        }
      }
      input {
        margin: 0 4px 0 0;
        &:checked {
          accent-color: #6971cb;
        }
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 160px;
      @media screen and (max-width: 500px) {
        width: 140px;
      }

      .task_action {
        margin-left: 34px;
      }

      p {
        @media screen and (max-width: 500px) {
          font-size: 12px;
        }
      }
    }
  }
}
